<html>
	<head>
		<title>Открытые вакансии</title>
		<style type="text/css">
		   .header { 
			width: 1842px;				
			height: 45px; 				
			background: #0F4B65;
			margin-left: -10px;
			margin-top: 10px;
			padding: 40px;
			font-size: 40px;
			font-family: Arial;
		   }
		</style> 
	</head>

	<body bgcolor=#78B2D7 text=black>
		<body>
			<div align="left">
				<font size="3" color="white" face="Arial"> 
					<a href="/menu"> <<- Назад </a>
				</font>
			</div>
		</body>
		<body>
			<div id="center" class="header" align="center"><font color="#B3D2E6">ОТКРЫТЫЕ ВАКАНСИИ</font></div>
		</body>
		<br><br>
		<font size="3" face="Arial"> 
			<table bgcolor="#B3D2E6" border=1 width=100% size="4" face="Arial">
				<tr>
					<td align = center> id </td>
					<td align = center> название позиции </td>
					<td align = center> количество дней<br>с момента открытия</td>
				</tr>
				{%for vacancy in results%}
				<tr>
					<td align=center>{{vacancy['id_vac']}}</td>
					<td align=center> {{vacancy['unit_vac']}}</td>
					<td align=center>{{vacancy['amount_of_days']}}</td>
				</tr>
				{% endfor %}
		
	</body>
</html>