<html>
	<head>
		<title>До свидания!</title>
		<style type="text/css">
		   .header { 
			width: 600px;				/* ширина блока */
			height: 100px; 				/* Высота блока */
			background: #B3D2E6;
			#margin-left: -10px;
			margin: auto;
			margin-top: 200px;
			padding: 40px;
			font-size: 40px;
			font-family: Arial;
		   }
		</style> 
	</head>

	<body bgcolor=#78B2D7>
		<div >
			<img src="/static/img/cat.png" align="left" width="50px" style="margin-left:13px">
			<p align="right"><font align="right" size="2" color="white" face="Arial">
				Курсовая работа по дисциплине "Базы данных". 
				Подготовил студент группы РК6-41б Петричук А.О. Вариант 8.
			</font></p>
			<font align="left" size="2" color="white" face="Arial" >
				<br>
				<a href="/menu"> хочу обратно </a>
			</font>
		</div>
		<div id="center" class="header" align="center">
			<font color="#0F4B65">Вы покинули приложение.<br>До свидания!</font>
		</div>
		<div align="center" style="padding-top:480px;">
			<em><font size="3" color="white" face="Arial">Москва, 2020 г.</font></em>
		</div>
	</body>
</html>